[
 {kernel,
  [{logger,
    [{handler, default, logger_std_h,
      #{ formatter => {logger_formatter,
                       #{ template => [time," ", file,":",line," ",level,": ",msg,"\n"],
                          single_line => false }}}},
     {module_level, {{module_level}}, [moments_app,
                                       moments_db_mnesia,
                                       moment_dipatch,
                                       moment_dispatcher,
                                       moments_h,
                                       moments_id_h,
                                       users_h,
                                       websocket_h,
                                       login_h,
                                       moments_auth,
                                       moments_oidcc,
                                       users_id_h,
                                       moments_data,
                                       event_hub,
                                       event_sub,
                                       logger_handler,
                                       watcher]}]}
  ]},
 {moments, []},
 {webserver, [
     {oidc_client_id, "${MOMENTS_OIDC_CLIENT_ID}"},
     {oidc_client_secret, "${MOMENTS_OIDC_CLIENT_SECRET}"}
 ]},
 {mnesia, [{dir, "{{mnesia_dir}}"}]}
].
