[
 {kernel,
  [{logger,
    [{handler, default, logger_std_h,
      #{ formatter => {logger_formatter,
        #{ template => [time," ", file,":",line," ",level,": ",msg,"\n"] }}}},
    {module_level, {{module_level}}, [moments_app, moments_db_mnesia]}]}
  ]},
 {moments, []},
  {mnesia, [{dir, "{{mnesia_dir}}"}]}
].
